/* font relawey (para os conteúdos de textos dos parágrafos)  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* accordions sem animação */
.accordion-button {
  background-image: linear-gradient(to left, #26a737, #2db39e);
}

.accordion-body {
  background-image: linear-gradient(to left, #26a737, #2db39e);
  color: #fff;
}

/* flips card */
h2,
h3,
h4 {
  margin: 0;
  font-weight: 500;
}

.link-tooltip {
  color: black;
  border-bottom: 2px solid #10ac44;
}

.cards {
  display: flex;
  gap: 10px;

width: auto !important;
}

article {
  position: relative;
  perspective: 1000px;
  /* width: 100vh;
    height: auto;
    min-height: 100px; */

}

@media screen and (max-width: 430px) {
  .article-index {
    height: auto !important;
    min-height: 530px;
    width: auto;
    min-width: 45vh;
  }

  .article-topico02 {
    height: auto;
    min-height: 540px;
    width: auto;
    min-width: 45vh;
  }

  article {
    height: auto;
    min-height: 650px;
    width: auto;
    min-width: 45vh;
  }

}

@media screen and (min-width: 430px) {
  article {
    height: auto;
    min-height: 700px;
    width: auto !important;
    min-width: 45vh;
  }
}

@media screen and (min-width: 900px) {
  article {
    height: auto;
    min-height: 400px;
    width: auto;
    min-width: 100vh;
  }

  #front,
  #back {
    height: 200px;
  }
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article header h2 {
  color: #fff;
  font-size: 20px;
  padding-bottom: 3px;
  border-bottom: 1px solid #fff;
}

article .front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backface-visibility: hidden;
  /* background-image: linear-gradient(to right, #2db39e, #26a737); */
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    hsla(0, 0%, 0%, 0.102) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  padding: 24px;
  transition: 0.6s;
  cursor: pointer;
}

article .front {
  /* background-image: linear-gradient(to right, #26a737, #2db39e); */
  background-color: #26a737;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
}

[data-theme="dark"] article .front {
  /* background-image: linear-gradient(to right, #2db39e, #26a737); */
  background-color: #2db39e;
}

article .back {
  /* background-image: linear-gradient(to right, #26a737, #2db39e); */
  background-color: #2db39e;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
}

[data-theme="dark"] article .back {
  /* background-image: linear-gradient(to right, #26a737, #2db39e); */
  background-color: #26a737;
}

.back {
  transform: rotateY(180deg);
}

input {
  position: absolute;
  scale: 0;
}

input:checked~article .back {
  transform: rotateY(0);
}

input:checked~article .front {
  transform: rotateY(-180deg);
}

article var {
  font-style: normal;
  font-size: 80px;
  line-height: 1;
}

article h3 {
  margin: 3.5em 0 30px;
  font-weight: 500;
}

/* CSS DAVI */

.mensagem {
  perspective: 1000px;
  width: 100vh;
  height: auto;
  min-height: 200px;
  background-image: linear-gradient(to bottom, #2db39e, #26a737);
  /* background-color: #26a737; */
  border-radius: 10px;
  padding: 1em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  color: white;
}

.mensagem-game {
  perspective: 1000px;
  width: 100vh;
  height: auto;
  /* min-height: 150px; */
  background-color: #e94f0e;
  /* background-color: #26a737; */
  border-radius: 10px;
  padding: 1em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius: 0;
  color: white;
}

/* acoordeon */
.accordion-button {
  background-image: linear-gradient(to right, #2db39e, #26a737);
}

.accordion-body {
  background-image: linear-gradient(to right, #2db39e, #26a737);
  color: #fff;
}

/* destaque */
.destaque {
  height: auto;
  background-image: linear-gradient(to bottom, #2db39e, #26a737);
  /* background-color: #26a737; */
  border-radius: 10px;
  padding: 1rem;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  color: white;
}

/* flip card */
h2,
h3,
h4 {
  margin: 0;
  font-weight: 500;
}

@media screen and (max-width: 400px) {
  .article2 {
    width: 20em;
    height: 25em;
  }

  .article2 .front h3 {
    margin-top: 6em;
  }

  .article2 .back p {
    font-size: 1em;
  }

  #article01-topico03 .front p {
    font-size: 1em;
    opacity: 1;
  }

  #article01-topico03 .back p {
    font-size: 1.3em;
  }

  #article03-topico03 {
    height: 31em;
  }

  #article03-topico03 .front p {
    font-size: 1.1em;
    margin-top: 5px;
  }

  #article03-topico03 .back p {
    font-size: 1em;
    margin-top: 5px;
  }

  @media screen and (min-width: 430px) {
    .article2 {
      border: 1px solid white;
    }
  }

  @media screen and (min-width: 900px) {
    article {
      border: 1px solid white;
    }
  }
}

.cards {
  display: flex;
  gap: 10px;
}

article {
  position: relative;
  perspective: 1000px;
  width: 100vh;
  height: 300px;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;

}

article header h2 {
  font-size: 20px;
  padding-bottom: 3px;
  border-bottom: 1px solid white;
}

article .front,
article .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  backface-visibility: hidden;
  /* border-radius: 10px; */
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  padding: 24px;
  transition: 0.6s;
  cursor: pointer;
}

.front h2 {
  color: white !important;
}

.front h3 {
  color: white !important;
}

.back p {
  color: white !important;
  opacity: 1 !important;
}

.back {
  transform: rotateY(180deg);
  color: white !important;
}

input {
  position: absolute;
  scale: 0;
}

input:checked~article .back {
  transform: rotateY(0);
}

input:checked~article .front {
  transform: rotateY(-180deg);
}

article var {
  font-style: normal;
  font-size: 80px;
  line-height: 1;
}

article h3 {
  margin: 3.5em 0 30px;
  font-weight: 500;
}

#summary :is(var, h3) {
  color: #fff;
}

.text-left {
  text-align: left;
}

.front .paragrafo1 {
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: center;
}

/* collapse */
.text-collapse {
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 1.2em;
}

[data-theme="dark"] .text-collapse {
  color: #fff;
}

.btn-collapse {
  background-image: linear-gradient(to bottom, #e06a0c, #e4a500);
}

[data-theme="dark"] .btn-collapse {
  background-image: linear-gradient(to bottom, #2db39e, #46ac33);

}

.body-collpse {
  background-color: #e4a500;
  padding: 0.5em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-top-left-radius: 1em;
}

[data-theme="dark"] .body-collpse {
  background-color: #45b16e;
}

/* citação */
#citacao-amarela {
  border-left: 4px solid #f0ad4e;
}

#overdue :is(var, h3) {
  color: #ef4444;
}

#features :is(var, h3) {
  color: #22c55e;
}

article :is(h4, p) {
  font-size: 20px;
}

article p {
  margin-top: 0.5em;
}

.text-left {
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
}

/* listas diferenciadas */

.processo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.ex {
  background-color: #f59c00;
  padding: 1rem;
  width: auto;
  height: auto;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--FonteRaleway);
  font-size: 1.1rem;
}

@media(min-width:1000px) {
  .ex-1:first-child {
    margin-left: 5rem;
  }

  .ex-1:last-child {
    margin-right: 5rem;
  }
}

.blue {
  border-left: 5px solid #5a8dee;
}

/* TOOLTIP  */

a.link_tooltip {
  text-decoration: underline 3px #008442;
  color: #008442;
  font-weight: 300;
}

a.link_tooltip_white {
  text-decoration: underline 3px #ffff;
  color: #ffff;
  font-weight: 300;
}

.custom-tooltip {
  --bs-tooltip-bg: #008442;
  --bs-tooltip-color: white;
  font-weight: 200;
  padding: 10px;
  font-size: 1em;
}

/* IMAGEM E TEXTO NO TÓPICO APRESENTAÇÃO */
.texto_apresentacao {
  background-color: orange;
  border-radius: 100px 100px 100px 0;
  padding: 40px;
  margin-top: 1rem;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.texto_apresentacao_lista {
  background-color: #1ab6b6;
  border-radius: 100px 100px 100px 0;
  color: white;
  padding: 15px;
  font-size: 18px;
  margin-top: 3rem;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.texto_apresentacao_lista i {
  font-size: 19px;
  margin-right: 5px;
}

.texto_apresentacao2 {
  background-color: orange;
  border-radius: 100px 100px 100px 0;
  padding: 20px;
  margin-top: 1rem;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

[data-theme="dark"] .texto_apresentacao {
  color: black;
}

@media (min-width:1250px) {
  .apresentacao {
      display: grid;
      grid-template-columns: 40% 50%;
  }

  .img_apresentacao {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .img_apresentacao img {
      margin-top: 2rem;
      margin-bottom: 2rem;
      width: 80%;
      height: auto;
  }
}

@media (max-width:1250px) {
  .img_apresentacao {
      display: none;
  }
}

/* IMAGEM E TEXTO NO TÓPICO APRESENTAÇÃO END*/