/* font relawey (para os conteúdos de textos dos parágrafos)  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

/* accordions sem animação */
.accordion-button {
    background-image: linear-gradient(to left, #26a737, #2db39e);
}

.accordion-body {
    background-image: linear-gradient(to left, #26a737, #2db39e);
    color: #fff;
}

/* flips card */
h2,
h3,
h4 {
    margin: 0;
    font-weight: 500;
}

.link-tooltip {
    color: black;
    border-bottom: 2px solid #10ac44;
}

.cards {
    display: flex;
    gap: 10px;
}

article {
    position: relative;
    perspective: 1000px;
    width: 100vh;
    height: auto;
    min-height: 300px;
}

@media screen and (max-width: 430px) {
    .article-index {
        height: auto;
        min-height: 530px;
        width: auto;
        min-width: 45vh;
    }

    .article-topico02 {
        height: auto;
        min-height: 540px;
        width: auto;
        min-width: 45vh;
    }

    article {
        height: auto;
        min-height: 650px;
        width: auto;
        min-width: 45vh;
    }

    .div-img .img img{
        display: none;
    }
}

@media screen and (min-width: 430px) {
    article {
        height: auto;
        min-height: 550px;
        width: auto;
        min-width: 45vh;
    }
}

@media screen and (min-width: 900px) {
    article {
        height: auto;
        min-height: 300px;
        width: auto;
        min-width: 100vh;
    }
}

article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article header h2 {
    color: #fff;
    font-size: 20px;
}

article .front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    backface-visibility: hidden;
    /* background-image: linear-gradient(to right, #2db39e, #26a737); */
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        hsla(0, 0%, 0%, 0.102) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
    padding: 24px;
    transition: 0.6s;
    cursor: pointer;
}

article .front {
    /* background-image: linear-gradient(to right, #26a737, #2db39e); */
    background-color: #26a737;
    border-bottom-right-radius: 2em;
    border-top-left-radius: 2em;
}

[data-theme="dark"] article .front {
    /* background-image: linear-gradient(to right, #2db39e, #26a737); */
    background-color: #2db39e;
}

article .back {
    /* background-image: linear-gradient(to right, #26a737, #2db39e); */
    background-color: #2db39e;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
}

[data-theme="dark"] article .back {
    /* background-image: linear-gradient(to right, #26a737, #2db39e); */
    background-color: #26a737;
}

.back {
    transform: rotateY(180deg);
}

input {
    position: absolute;
    scale: 0;
}

input:checked~article .back {
    transform: rotateY(0);
}

input:checked~article .front {
    transform: rotateY(-180deg);
}

article var {
    font-style: normal;
    font-size: 80px;
    line-height: 1;
}

article h3 {
    margin: 3.5em 0 30px;
    font-weight: 500;

}

#summary :is(var, h3) {
    color: #fff;
}

article p {
    margin-top: 0.5em;
    color: #fff;
}

.text-left {
    text-align: left;
}

.front .paragrafo1 {
    font-size: 15px;
}

.container {
    display: flex;
    justify-content: center;
}

/* collapse */
.text-collapse{
    font-family: 'Raleway', sans-serif;
    color: #000;
    font-size: 1.2em;
}

[data-theme="dark"] .text-collapse{
    color: #fff;
}

.btn-collapse{
    background-image: linear-gradient(to left, #26a737, #2db39e);
}