.mensagem {
  perspective: 1000px;
  width: 100vh;
  height: auto;
  min-height: 200px;
  background-image: linear-gradient(to bottom, #2db39e, #26a737);
  /* background-color: #26a737; */
  border-radius: 10px;
  padding: 1em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  color: white;
}
.mensagem-game {
  perspective: 1000px;
  width: 100vh;
  height: auto;
  /* min-height: 150px; */
  background-color: #e94f0e;
  /* background-color: #26a737; */
  border-radius: 10px;
  padding: 1em;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-left-radius:0 ;
  color: white;
}
/* acoordeon */
.accordion-button {
  background-image: linear-gradient(to right, #2db39e, #26a737);
}

.accordion-body {
  background-image: linear-gradient(to right, #2db39e, #26a737);
  color: #fff;
}

/* destaque */
.destaque {
  height: auto;
  background-image: linear-gradient(to bottom, #2db39e, #26a737);
  /* background-color: #26a737; */
  border-radius: 10px;
  padding: 1rem;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
  color: white;
}

/* flip card */
h2,
h3,
h4 {
  margin: 0;
  font-weight: 500;
}

@media screen and (max-width: 430px) {
  .article-index {
    height: auto;
    min-height: 530px;
    width: auto;
    min-width: 45vh;
  }

  .article-topico02 {
    height: auto;
    min-height: 540px;
    width: auto;
    min-width: 45vh;
  }

  article {
    height: auto;
    min-height: 650px;
    width: auto;
    min-width: 45vh;
  }
}

@media screen and (min-width: 430px) {
  article {
    height: auto;
    min-height: 550px;
    width: auto;
    min-width: 45vh;
  }
}

@media screen and (min-width: 900px) {
  article {
    height: auto;
    min-height: 300px;
    width: auto;
    min-width: 100vh;
  }
}

.cards {
  display: flex;
  gap: 10px;
}

article {
  position: relative;
  perspective: 1000px;
  width: 100vh;
  height: 300px;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;

}

article header h2 {
  font-size: 20px;
}

article .front,
article .back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  backface-visibility: hidden;
  background-image: linear-gradient(to bottom, #2db39e, #26a737);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  padding: 24px;
  transition: 0.6s;
  cursor: pointer;
}

.front h2 {
  color: white !important;
}

.front h3 {
  color: white !important;
}

.back p {
  color: white !important;
  opacity: 1 !important;
}

.back {
  transform: rotateY(180deg);
  color: white !important;
}

input {
  position: absolute;
  scale: 0;
}

input:checked~article .back {
  transform: rotateY(0);
}

input:checked~article .front {
  transform: rotateY(-180deg);
}

article var {
  font-style: normal;
  font-size: 80px;
  line-height: 1;
}

article h3 {
  margin: 3.5em 0 30px;
  font-weight: 500;

}

#summary :is(var, h3) {
  color: #3b82f6;
}

#overdue :is(var, h3) {
  color: #ef4444;
}

#features :is(var, h3) {
  color: #22c55e;
}

article :is(h4, p) {
  opacity: 0.5;
  font-size: 20px;
}

article p {
  margin-top: 0.5em;
}

.text-left {
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
}

/* listas diferenciadas */

.processo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.ex {
  background-color: #f59c00;
  padding: 1rem;
  width: auto;
  height: auto;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: var(--FonteRaleway);
  font-size: 1.1rem;
}

@media(min-width:1000px) {
  .ex-1:first-child {
    margin-left: 5rem;
  }
  .ex-1:last-child{
    margin-right: 5rem;
  }
}

.blue{
  border-left: 5px solid #5a8dee;
}